In [1]:
import pandas as pd

In [16]:
categories = pd.read_csv("../raw/categories.csv")
parent_categories_df = pd.merge(
    categories,
    categories[["category_id", "category_name"]].add_prefix("parent_"),
    on = "parent_category_id",
    how = "left",
)[["category_id","category_name","parent_category_name"]]
parent_categories_df

    category_id category_name parent_category_name
0             1          Ropa                  NaN
1             2       Calzado                  NaN
2             3    Accesorios                  NaN
3             4   Electrónica                  NaN
4             5      Camperas                 Ropa
5             6       Remeras                 Ropa
6             7    Pantalones                 Ropa
7             8    Zapatillas              Calzado
8             9         Botas              Calzado
9            10      Mochilas           Accesorios
10           11        Gorras           Accesorios
11           12     Wearables          Electrónica

In [10]:
categories_2 = pd.merge(
    categories,
    categories[["category_id", "category_name"]],
    left_on = "parent_category_id",
    right_on = "category_id",
    how = "left",
    suffixes=["","_parent"]
)
categories_2

,category_id,category_name,parent_category_id,category_id_parent,category_name_parent
0,1,Ropa,NaN,NaN,NaN
1,2,Calzado,NaN,NaN,NaN
2,3,Accesorios,NaN,NaN,NaN
3,4,Electrónica,NaN,NaN,NaN
4,5,Camperas,1.0,1.0,Ropa
5,6,Remeras,1.0,1.0,Ropa
6,7,Pantalones,1.0,1.0,Ropa
7,8,Zapatillas,2.0,2.0,Calzado
8,9,Botas,2.0,2.0,Calzado
9,10,Mochilas,3.0,3.0,Accesorios
10,11,Gorras,3.0,3.0,Accesorios
11,12,Wearables,4.0,4.0,Electrónica

In [11]:
categories_2 = categories_2[["category_id", "category_name", "category_name_parent"]]
categories_2 = categories_2.rename(columns={"category_name_parent": "parent_category_name"})
categories_2

    category_id category_name parent_category_name
0             1          Ropa                  NaN
1             2       Calzado                  NaN
2             3    Accesorios                  NaN
3             4   Electrónica                  NaN
4             5      Camperas                 Ropa
5             6       Remeras                 Ropa
6             7    Pantalones                 Ropa
7             8    Zapatillas              Calzado
8             9         Botas              Calzado
9            10      Mochilas           Accesorios
10           11        Gorras           Accesorios
11           12     Wearables          Electrónica