In [54]:
import sys, os
sys.path.append(os.path.abspath(".."))
from etl.utils import load_data, quality_report

In [55]:
# Analizar products
products = load_data("products")
quality_report(products, pk="product_id")

# Analizar categories
categories = load_data("categories")
quality_report(categories, pk="category_id")

AttributeError: 'str' object has no attribute 'nunique'

### Tabla: products

In [21]:
products = load_data("products")

In [22]:
products.head()

,product_id,sku,product_name,brand,category_id,unit_price,unit_cost,active_from,active_to,created_at
0,1,SKU-00001,Andina Remeras 001,Andina,6,112524.82,68777.76,2025-02-05,NaN,2025-02-05 03:43:54
1,2,SKU-00002,Lago Remeras 002,Lago,6,9608.49,5509.74,2025-03-01,NaN,2025-03-01 18:23:57
2,3,SKU-00003,Lago Zapatillas 003,Lago,8,36963.89,25775.53,2025-07-27,NaN,2025-07-27 00:14:11
3,4,SKU-00004,Lago Pantalones 004,Lago,7,54336.32,31997.02,2025-07-15,NaN,2025-07-15 12:15:18
4,5,SKU-00005,Pampa Gorras 005,Pampa,11,57052.01,36284.45,2025-03-09,NaN,2025-03-09 01:34:55

#### Integridad de la PK

In [29]:
pks_check(products,'product_id')

La Primary Key cumple con todas las condiciones

#### Valores Nulos

In [31]:
products.isnull().sum()

product_id        0
sku               0
product_name      0
brand             0
category_id       0
unit_price        0
unit_cost         0
active_from       0
active_to       114
created_at        0
dtype: int64

#### Duplicados

In [35]:
products.nunique()

product_id      150
sku             150
product_name    150
brand             8
category_id       8
unit_price      150
unit_cost       150
active_from     112
active_to        32
created_at      150
dtype: int64

In [37]:
products.duplicated().sum()

np.int64(0)

### Tabla: categories

In [38]:
categories = load_data("categories")

In [39]:
categories.head()

   category_id category_name  parent_category_id
0            1          Ropa                 NaN
1            2       Calzado                 NaN
2            3    Accesorios                 NaN
3            4   Electr칩nica                 NaN
4            5      Camperas                 1.0

#### Integridad de la PK

In [40]:
pks_check(categories, 'category_id')

La Primary Key cumple con todas las condiciones

#### Valores Nulos

In [42]:
categories.isnull().sum()

category_id           0
category_name         0
parent_category_id    4
dtype: int64

#### Duplicados

In [44]:
categories.nunique()

category_id           12
category_name         12
parent_category_id     4
dtype: int64

In [45]:
categories.duplicated().sum()

np.int64(0)