In [376]:
import pandas as pd

Juntemos las tablas de **products** y **campaigns**

In [377]:
products = pd.read_csv('../raw/products.csv')
categories = pd.read_csv('../raw/categories.csv')

In [378]:
products_categories = pd.merge(products, categories, on = "category_id", how = 'left')
products_categories.head()

,product_id,sku,product_name,brand,category_id,unit_price,unit_cost,active_from,active_to,created_at,category_name,parent_category_id
0,1,SKU-00001,Andina Remeras 001,Andina,6,112524.82,68777.76,2025-02-05,NaN,2025-02-05 03:43:54,Remeras,1.0
1,2,SKU-00002,Lago Remeras 002,Lago,6,9608.49,5509.74,2025-03-01,NaN,2025-03-01 18:23:57,Remeras,1.0
2,3,SKU-00003,Lago Zapatillas 003,Lago,8,36963.89,25775.53,2025-07-27,NaN,2025-07-27 00:14:11,Zapatillas,2.0
3,4,SKU-00004,Lago Pantalones 004,Lago,7,54336.32,31997.02,2025-07-15,NaN,2025-07-15 12:15:18,Pantalones,1.0
4,5,SKU-00005,Pampa Gorras 005,Pampa,11,57052.01,36284.45,2025-03-09,NaN,2025-03-09 01:34:55,Gorras,3.0

In [379]:
categories_map = dict(zip(categories['category_id'], categories['category_name']))
products_categories['parent_category_id'] = products_categories['parent_category_id'].map(categories_map)
products_categories = products_categories.drop(columns = ['category_id'])
products_categories.head()

,product_id,sku,product_name,brand,unit_price,unit_cost,active_from,active_to,created_at,category_name,parent_category_id
0,1,SKU-00001,Andina Remeras 001,Andina,112524.82,68777.76,2025-02-05,NaN,2025-02-05 03:43:54,Remeras,Ropa
1,2,SKU-00002,Lago Remeras 002,Lago,9608.49,5509.74,2025-03-01,NaN,2025-03-01 18:23:57,Remeras,Ropa
2,3,SKU-00003,Lago Zapatillas 003,Lago,36963.89,25775.53,2025-07-27,NaN,2025-07-27 00:14:11,Zapatillas,Calzado
3,4,SKU-00004,Lago Pantalones 004,Lago,54336.32,31997.02,2025-07-15,NaN,2025-07-15 12:15:18,Pantalones,Ropa
4,5,SKU-00005,Pampa Gorras 005,Pampa,57052.01,36284.45,2025-03-09,NaN,2025-03-09 01:34:55,Gorras,Accesorios

Juntemos las tablas **orders**, **payments** y **shipments**

In [380]:
orders = pd.read_csv("../raw/orders.csv")
payments = pd.read_csv("../raw/payments.csv")
shipments = pd.read_csv("../raw/shipments.csv")

In [381]:
orders_payments = pd.merge(orders, payments, on = "order_id", how = "left")
orders_payments.columns.tolist()

['order_id',
 'customer_id',
 'order_status',
 'order_date',
 'channel_id',
 'billing_address_id',
 'shipping_address_id',
 'currency_x',
 'shipping_amount',
 'order_subtotal',
 'order_discount',
 'order_tax',
 'order_total',
 'created_at',
 'payment_id',
 'payment_method',
 'amount',
 'currency_y',
 'payment_status',
 'paid_at',
 'transaction_id']

In [382]:
# Podemos ver que ambas columnas no son iguales, por lo que le cambiaremos el nombre para que se sepa de 
# que tabla proviene cada uno
(orders_payments['currency_x'] == orders_payments['currency_y']).value_counts()

True     399
False     67
Name: count, dtype: int64

In [383]:
orders_payments = orders_payments.rename(columns={"currency_x": "currency_orders", "currency_y": "currency_payments"})
orders_payments = orders_payments.drop(columns=['payment_id'])

In [384]:
orders_payments_shipments = pd.merge(orders_payments, shipments, on = "order_id", how = "left")
orders_payments_shipments.columns.tolist()

['order_id',
 'customer_id',
 'order_status',
 'order_date',
 'channel_id',
 'billing_address_id',
 'shipping_address_id',
 'currency_orders',
 'shipping_amount',
 'order_subtotal',
 'order_discount',
 'order_tax',
 'order_total',
 'created_at',
 'payment_method',
 'amount',
 'currency_payments',
 'payment_status',
 'paid_at',
 'transaction_id',
 'shipment_id',
 'carrier',
 'service_level',
 'shipped_at',
 'delivered_at',
 'shipping_cost',
 'tracking_number']

In [385]:
orders_payments_shipments = orders_payments_shipments.drop(columns=['shipment_id'])

Juntemos las tablas **inventory** y **warehouses**

In [386]:
inventory = pd.read_csv("../raw/inventory.csv")
warehouses = pd.read_csv("../raw/warehouses.csv")

In [387]:
inventory_warehouse = pd.merge(inventory, warehouses, on = "warehouse_id", how = "left")
inventory_warehouse.columns.to_list()

['inventory_id',
 'product_id',
 'warehouse_id',
 'quantity_on_hand',
 'last_updated_at',
 'warehouse_name',
 'city',
 'province',
 'country_code']

In [388]:
inventory_warehouse = inventory_warehouse.drop(columns=["warehouse_id"])

Juntemos las tablas **products_categories** y **inventory_warehouse**

In [389]:
prod_cate__inve_ware = pd.merge(products_categories, inventory_warehouse, on = "product_id")
prod_cate__inve_ware.columns.to_list()

['product_id',
 'sku',
 'product_name',
 'brand',
 'unit_price',
 'unit_cost',
 'active_from',
 'active_to',
 'created_at',
 'category_name',
 'parent_category_id',
 'inventory_id',
 'quantity_on_hand',
 'last_updated_at',
 'warehouse_name',
 'city',
 'province',
 'country_code']

In [390]:
prod_cate__inve_ware = prod_cate__inve_ware.drop(columns=['inventory_id'])
prod_cate__inve_ware = prod_cate__inve_ware.rename(columns={"parent_category_id": "parent_category_name"})

Juntemos las tablas **order_items** y **prod_cate__inve_ware**

In [391]:
order_items = pd.read_csv("../raw/order_items.csv")

In [392]:
orde_item____prod_cate__inve_ware = pd.merge(order_items, prod_cate__inve_ware, on = "product_id", how = "left")
orde_item____prod_cate__inve_ware.columns.to_list()

['order_id',
 'line_number',
 'product_id',
 'quantity',
 'unit_price_x',
 'discount_amount',
 'tax_amount',
 'sku',
 'product_name',
 'brand',
 'unit_price_y',
 'unit_cost',
 'active_from',
 'active_to',
 'created_at',
 'category_name',
 'parent_category_name',
 'quantity_on_hand',
 'last_updated_at',
 'warehouse_name',
 'city',
 'province',
 'country_code']

In [393]:
# Podemos ver que ambas columnas son iguales, por lo que podriamos borrar.
# Pero no se si conviene borrar, por las dudas, no lo voy a hacer
(orde_item____prod_cate__inve_ware['unit_price_x'] == orde_item____prod_cate__inve_ware['unit_price_y']).value_counts()

True    1928
Name: count, dtype: int64

In [394]:
orde_item____prod_cate__inve_ware = orde_item____prod_cate__inve_ware.rename(columns={
    "unit_price_x": "unit_price_order_items",
    "unit_price_y": "unit_price_products"
})

In [395]:
# Para simplificar las cosas, vamos a cambiar el nombre de la tabla desnormalizada
df_desnorm = orde_item____prod_cate__inve_ware.copy()

Juntemos las tablas **orders_payments_shipments** y **customer_addresses**

In [396]:
customer_addresses = pd.read_csv("../raw/customer_addresses.csv")

In [397]:
customer_addresses_billing = customer_addresses.copy()
customer_addresses_shipping = customer_addresses.copy()

In [398]:
dict(zip(customer_addresses_billing.columns.to_list(), customer_addresses_billing.columns.to_list()))

{'address_id': 'address_id',
 'customer_id': 'customer_id',
 'address_type': 'address_type',
 'street': 'street',
 'city': 'city',
 'province': 'province',
 'country_code': 'country_code',
 'postal_code': 'postal_code',
 'created_at': 'created_at',
 'is_primary': 'is_primary'}

In [399]:
customer_addresses_billing = customer_addresses_billing.rename(columns={
    'address_id': 'billing_address_id',
    'customer_id': 'customer_id_billing',
    'address_type': 'address_type_billing',
    'street': 'street_billing',
    'city': 'city_billing',
    'province': 'province_billing',
    'country_code': 'country_code_billing',
    'postal_code': 'postal_code_billing',
    'created_at': 'created_at_billing',
    'is_primary': 'is_primary_billing'
})
customer_addresses_shipping = customer_addresses_shipping.rename(columns={
    'address_id': 'shipping_address_id',
    'customer_id': 'customer_id_shipping',
    'address_type': 'address_type_shipping',
    'street': 'street_shipping',
    'city': 'city_shipping',
    'province': 'province_shipping',
    'country_code': 'country_code_shipping',
    'postal_code': 'postal_code_shipping',
    'created_at': 'created_at_shipping',
    'is_primary': 'is_primary_shipping'
})

In [400]:
orde_cust_addr_1 = pd.merge(orders_payments_shipments, customer_addresses_billing, on = "billing_address_id", how = "left")
orde_cust_addr_2 = pd.merge(orde_cust_addr_1, customer_addresses_shipping, on = "shipping_address_id", how = "left")

In [401]:
orde_cust_addr_2.columns.to_list()

['order_id',
 'customer_id',
 'order_status',
 'order_date',
 'channel_id',
 'billing_address_id',
 'shipping_address_id',
 'currency_orders',
 'shipping_amount',
 'order_subtotal',
 'order_discount',
 'order_tax',
 'order_total',
 'created_at',
 'payment_method',
 'amount',
 'currency_payments',
 'payment_status',
 'paid_at',
 'transaction_id',
 'carrier',
 'service_level',
 'shipped_at',
 'delivered_at',
 'shipping_cost',
 'tracking_number',
 'customer_id_billing',
 'address_type_billing',
 'street_billing',
 'city_billing',
 'province_billing',
 'country_code_billing',
 'postal_code_billing',
 'created_at_billing',
 'is_primary_billing',
 'customer_id_shipping',
 'address_type_shipping',
 'street_shipping',
 'city_shipping',
 'province_shipping',
 'country_code_shipping',
 'postal_code_shipping',
 'created_at_shipping',
 'is_primary_shipping']

In [402]:
# En teoria, las columnas relacionadas con customer_id deberian ser las mismas, vamos a chequear
(orde_cust_addr_2['customer_id'] == orde_cust_addr_2['customer_id_shipping']).value_counts()

True    466
Name: count, dtype: int64

In [403]:
(orde_cust_addr_2['customer_id_billing'] == orde_cust_addr_2['customer_id_shipping']).value_counts()
# Al parecer no lo son, asi que las guardaremos tal cual estan

True     279
False    187
Name: count, dtype: int64

Juntemos las tablas **orde_cust_addr_2** y **customers**

In [414]:
customers = pd.read_csv("../raw/customers.csv")

In [418]:
customers = customers.rename(columns={
    'customer_id': 'customer_id',
    'first_name': 'first_name',
    'last_name': 'last_name',
    'email': 'email',
    'phone': 'phone',
    'gender': 'gender',
    'birth_date': 'birth_date',
    'created_at': 'created_at_customer',
    'marketing_opt_in': 'marketing_opt_in'
})

In [419]:
ord_2_cust = pd.merge(orde_cust_addr_2, customers, on = "customer_id", how = "left")

In [420]:
customers_copy = customers.copy()
customers_copy = customers_copy.rename(columns={
    'customer_id': 'customer_id_billing',
    'first_name': 'first_name_customer_billing',
    'last_name': 'last_name_customer_billing',
    'email': 'email_customer_billing',
    'phone': 'phone_customer_billing',
    'gender': 'gender_customer_billing',
    'birth_date': 'birth_date_customer_billing',
    'created_at_customer': 'created_at_customer_billing',
    'marketing_opt_in': 'marketing_opt_in_customer_billing'
})
ord_2_cust = pd.merge(ord_2_cust, customers_copy, on = "customer_id_billing", how = "left")
customers_copy = customers.copy()
customers_copy = customers_copy.rename(columns={
    'customer_id': 'customer_id_shipping',
    'first_name': 'first_name_customer_shipping',
    'last_name': 'last_name_customer_shipping',
    'email': 'email_customer_shipping',
    'phone': 'phone_customer_shipping',
    'gender': 'gender_customer_shipping',
    'birth_date': 'birth_date_customer_shipping',
    'created_at_customer': 'created_at_customer_shipping',
    'marketing_opt_in': 'marketing_opt_in_customer_shipping'
})
ord_2_cust = pd.merge(ord_2_cust, customers_copy, on = "customer_id_shipping", how = "left")

In [421]:
ord_2_cust.columns.to_list()

['order_id',
 'customer_id',
 'order_status',
 'order_date',
 'channel_id',
 'billing_address_id',
 'shipping_address_id',
 'currency_orders',
 'shipping_amount',
 'order_subtotal',
 'order_discount',
 'order_tax',
 'order_total',
 'created_at',
 'payment_method',
 'amount',
 'currency_payments',
 'payment_status',
 'paid_at',
 'transaction_id',
 'carrier',
 'service_level',
 'shipped_at',
 'delivered_at',
 'shipping_cost',
 'tracking_number',
 'customer_id_billing',
 'address_type_billing',
 'street_billing',
 'city_billing',
 'province_billing',
 'country_code_billing',
 'postal_code_billing',
 'created_at_billing',
 'is_primary_billing',
 'customer_id_shipping',
 'address_type_shipping',
 'street_shipping',
 'city_shipping',
 'province_shipping',
 'country_code_shipping',
 'postal_code_shipping',
 'created_at_shipping',
 'is_primary_shipping',
 'first_name',
 'last_name',
 'email',
 'phone',
 'gender',
 'birth_date',
 'created_at_customer',
 'marketing_opt_in',
 'first_name_customer_billing',
 'last_name_customer_billing',
 'email_customer_billing',
 'phone_customer_billing',
 'gender_customer_billing',
 'birth_date_customer_billing',
 'created_at_customer_billing',
 'marketing_opt_in_customer_billing',
 'first_name_customer_shipping',
 'last_name_customer_shipping',
 'email_customer_shipping',
 'phone_customer_shipping',
 'gender_customer_shipping',
 'birth_date_customer_shipping',
 'created_at_customer_shipping',
 'marketing_opt_in_customer_shipping']

Juntemos las tablas **order_marketing** y **campaigns**

In [422]:
campaigns = pd.read_csv("../raw/campaigns.csv")
order_marketing = pd.read_csv("../raw/order_marketing.csv")

In [425]:
orde_mark_camp = pd.merge(order_marketing, campaigns, on = "campaign_id", how = "left", suffixes=('_order_marketing', '_campaigns'))

In [426]:
orde_mark_camp.head()

,order_id,channel_id_order_marketing,campaign_id,utm_source_order_marketing,utm_medium_order_marketing,utm_campaign_order_marketing,utm_content,utm_term,channel_id_campaigns,campaign_name,utm_source_campaigns,utm_medium_campaigns,utm_campaign_campaigns,start_date,end_date,budget_ars
0,100001,1,2.0,meta,social,retargeting_jul_2025,NaN,mochilas,1.0,Retargeting Julio 2025 - Web,meta,social,retargeting_jul_2025,2025-08-08,2025-08-27,3157411.81
1,100002,3,8.0,meta,social,retargeting_jul_2025,remarketing,remeras,3.0,Retargeting Julio 2025 - Marketplace,meta,social,retargeting_jul_2025,2025-08-16,2025-09-02,2997894.66
2,100003,3,9.0,meta,social,nuevo_drop_ago_2025,remarketing,camperas,3.0,Nuevo Drop Agosto 2025 - Marketplace,meta,social,nuevo_drop_ago_2025,2025-07-27,2025-08-12,4801475.51
3,100004,1,NaN,email,email,newsletter,NaN,camperas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100005,3,9.0,meta,social,nuevo_drop_ago_2025,promo,mochilas,3.0,Nuevo Drop Agosto 2025 - Marketplace,meta,social,nuevo_drop_ago_2025,2025-07-27,2025-08-12,4801475.51

In [427]:
orde_mark_camp.columns.to_list()

['order_id',
 'channel_id_order_marketing',
 'campaign_id',
 'utm_source_order_marketing',
 'utm_medium_order_marketing',
 'utm_campaign_order_marketing',
 'utm_content',
 'utm_term',
 'channel_id_campaigns',
 'campaign_name',
 'utm_source_campaigns',
 'utm_medium_campaigns',
 'utm_campaign_campaigns',
 'start_date',
 'end_date',
 'budget_ars']

In [428]:
# Podemos ver que no son dos columnas iguales, asi que las dejamos tal cual
(orde_mark_camp['channel_id_order_marketing'] == orde_mark_camp['channel_id_campaigns']).value_counts()

True     282
False    118
Name: count, dtype: int64

Juntamos las tablas **ord_2_cust** y **orde_mark_camp**

In [430]:
df_desnorm_2 = pd.merge(ord_2_cust, orde_mark_camp, on = "order_id", how = "left")

In [431]:
df_desnorm_2.columns.to_list()

['order_id',
 'customer_id',
 'order_status',
 'order_date',
 'channel_id',
 'billing_address_id',
 'shipping_address_id',
 'currency_orders',
 'shipping_amount',
 'order_subtotal',
 'order_discount',
 'order_tax',
 'order_total',
 'created_at',
 'payment_method',
 'amount',
 'currency_payments',
 'payment_status',
 'paid_at',
 'transaction_id',
 'carrier',
 'service_level',
 'shipped_at',
 'delivered_at',
 'shipping_cost',
 'tracking_number',
 'customer_id_billing',
 'address_type_billing',
 'street_billing',
 'city_billing',
 'province_billing',
 'country_code_billing',
 'postal_code_billing',
 'created_at_billing',
 'is_primary_billing',
 'customer_id_shipping',
 'address_type_shipping',
 'street_shipping',
 'city_shipping',
 'province_shipping',
 'country_code_shipping',
 'postal_code_shipping',
 'created_at_shipping',
 'is_primary_shipping',
 'first_name',
 'last_name',
 'email',
 'phone',
 'gender',
 'birth_date',
 'created_at_customer',
 'marketing_opt_in',
 'first_name_customer_billing',
 'last_name_customer_billing',
 'email_customer_billing',
 'phone_customer_billing',
 'gender_customer_billing',
 'birth_date_customer_billing',
 'created_at_customer_billing',
 'marketing_opt_in_customer_billing',
 'first_name_customer_shipping',
 'last_name_customer_shipping',
 'email_customer_shipping',
 'phone_customer_shipping',
 'gender_customer_shipping',
 'birth_date_customer_shipping',
 'created_at_customer_shipping',
 'marketing_opt_in_customer_shipping',
 'channel_id_order_marketing',
 'campaign_id',
 'utm_source_order_marketing',
 'utm_medium_order_marketing',
 'utm_campaign_order_marketing',
 'utm_content',
 'utm_term',
 'channel_id_campaigns',
 'campaign_name',
 'utm_source_campaigns',
 'utm_medium_campaigns',
 'utm_campaign_campaigns',
 'start_date',
 'end_date',
 'budget_ars']

In [ ]:
df_desnorm_2 =

In [432]:
df_desnorm_2.

(466, 83)